{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
</head>
<body>
    <div id="nav-main" class="container-fluid shadow">
        <nav class="navbar">
            <a class="row navbar-brand" href="#home">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div id="title" class="container h3">
                                NET.Study
                            </div>
                        </div>
                        <div class="col-xx">
                            <div id="comment" class="container">
                                Make knowledge accessible
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item sign-in">
                    <a class="nav-link" href="#">Sign Up  /  Sign In</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="container-fluid content">

        {% block content %}

        {% endblock content %}

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>