<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

     <div class="row">
            <div class="col-8 border border-dark m-2">

                <div class="card">
                    <img src="images/background.jpg" alt="Card image" class="card-img-bottom">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Card title <span class="badge bg-success">New</span></h3>
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia pulvinar nulla nec condimentum. Praesent sed rhoncus erat. Sed porttitor leo a porttitor tincidunt. Maecenas pulvinar ipsum enim, vitae volutpat ipsum auctor ac. Fusce nec risus at magna sollicitudin vulputate. Proin quis ante accumsan, tempus magna eu, elementum ante. Etiam congue, sem id fringilla ornare, sem sapien consequat diam, nec volutpat orci elit eget ligula. Aliquam commodo ipsum sed pellentesque mattis. Integer in mollis risus. Morbi tempus rhoncus quam in commodo. Phasellus eget sem eget tortor consequat aliquet. Praesent eu libero tellus. Maecenas non nisi in ex accumsan tempus ac eget velit. Aenean porta quis turpis at tincidunt.

                Quisque malesuada iaculis quam id euismod. Curabitur vulputate id mauris id tincidunt. Duis id euismod mauris.
                        </div>
                        <br>
                        <a href="" class="btn btn-primary">Read more</a>
                    </div>
                </div>

                <figure class="figure">
                    <img class="figure-img img-fluid mt-2" src="images/test_img.jpg" alt="PTZ">
                    <figcaption class="figure-caption text-center">
                        The best photo of Petrozavodsk
                    </figcaption>
                </figure>
                <p class="text-right">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia pulvinar nulla nec condimentum. Praesent sed rhoncus erat. Sed porttitor leo a porttitor tincidunt. Maecenas pulvinar ipsum enim, vitae volutpat ipsum auctor ac. Fusce nec risus at magna sollicitudin vulputate. Proin quis ante accumsan, tempus magna eu, elementum ante. Etiam congue, sem id fringilla ornare, sem sapien consequat diam, nec volutpat orci elit eget ligula. Aliquam commodo ipsum sed pellentesque mattis. Integer in mollis risus. Morbi tempus rhoncus quam in commodo. Phasellus eget sem eget tortor consequat aliquet. Praesent eu libero tellus. Maecenas non nisi in ex accumsan tempus ac eget velit. Aenean porta quis turpis at tincidunt.

        Quisque malesuada iaculis quam id euismod. Curabitur vulputate id mauris id tincidunt. Duis id euismod mauris. Duis fermentum eros a ipsum aliquet, id auctor felis imperdiet. Mauris bibendum tellus et dictum efficitur. Nullam in scelerisque ex. Maecenas congue metus nisi, eget convallis metus pulvinar sed. Phasellus euismod, ante aliquam volutpat tincidunt, nisi nisl fermentum ligula, eu lacinia dui mauris vel nisl. Nunc nec aliquam augue. Quisque a tristique diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Maecenas ac erat tellus. Suspendisse potenti. Duis in turpis at eros rhoncus ultrices.

        Nullam rhoncus nisi mi, efficitur consectetur nisl blandit eu. Aliquam imperdiet luctus dignissim. Mauris mollis nulla ac faucibus feugiat. Integer id odio mollis, malesuada quam a, suscipit augue. Vestibulum at dapibus lacus. Pellentesque eu purus et arcu ultricies placerat non non ligula. Nunc elementum est sit amet mollis mollis. Pellentesque in congue dui. Sed magna felis, posuere id elit et, euismod gravida tellus.

        Vestibulum augue libero, faucibus a vestibulum eu, aliquet in orci. Proin ipsum enim, fringilla id luctus et, consectetur quis ipsum. Morbi tempor gravida nisi tempor euismod. Vivamus id diam placerat, aliquam sapien in, tristique mi. In consectetur est et ex auctor, eget fringilla sapien lobortis. Aliquam venenatis lorem nisl, id feugiat tortor euismod eget. Aliquam nec est nec magna placerat interdum. Vivamus id nunc quam. Nulla ut enim elit. Morbi sed aliquet ante. Aenean pharetra tristique est, in malesuada justo tincidunt id. Vestibulum placerat felis quis magna pharetra, non gravida dolor auctor. Praesent orci risus, eleifend sed convallis sed, suscipit eu dui.

        Proin lectus odio, facilisis nec justo ac, vestibulum pharetra odio. Aliquam facilisis porta varius. In hac habitasse platea dictumst. Donec sed diam eget dolor posuere aliquet. Nam convallis pharetra metus, sit amet egestas est ultricies vel. Praesent id lacus dolor. Etiam ac eros non nisl scelerisque vehicula. Cras eu tortor a orci vestibulum consectetur. Duis pulvinar et quam aliquet suscipit. Sed nibh arcu, blandit ut lectus non, tempus aliquet metus. Fusce rhoncus imperdiet lorem vel scelerisque. Nullam ac tincidunt ante. Suspendisse condimentum et dui id consectetur. Nunc finibus consectetur cursus. Quisque semper porttitor mollis. Ut congue ultricies lacus, vitae fermentum eros tristique quis.

        Nulla neque enim, dapibus a diam vitae, fermentum lacinia enim. Duis vel nisl eleifend, imperdiet mi consectetur, finibus neque. Donec id convallis massa. Aliquam suscipit consectetur odio id vulputate. Fusce iaculis sodales leo sit amet efficitur. Nunc sit amet diam non purus semper interdum. Maecenas tempor lectus id neque egestas, quis lacinia mi scelerisque. Curabitur nec tellus velit. Nullam tortor diam, efficitur ac nunc fermentum, bibendum placerat quam. Donec magna est, porta pretium mauris sed, tempor ullamcorper nulla. Integer ultricies, arcu nec fringilla lobortis, orci urna condimentum nunc, non ultrices lectus dolor et ligula. Fusce iaculis et libero non vulputate. Nunc sapien orci, pharetra ac dui at, laoreet dapibus ligula.

        In lectus odio, maximus et sapien a, tincidunt dignissim augue. Donec hendrerit, velit ac porttitor volutpat, ante dui ullamcorper metus, vel pulvinar nisl justo eget quam. Aliquam hendrerit lacus risus, sit amet luctus magna tincidunt at. Integer porttitor in libero vitae varius. Pellentesque pretium turpis in leo venenatis gravida. Vivamus convallis convallis risus, nec porta erat rutrum vitae. Aliquam imperdiet interdum mi at laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in est et sapien cursus pharetra vel et lacus. Mauris mattis cursus elit, sit amet finibus neque auctor eget. Suspendisse hendrerit hendrerit purus, non luctus lacus pellentesque et. Praesent laoreet vitae nibh ut porttitor. Duis at sagittis enim. In et lectus et nisi scelerisque faucibus.

        Nam diam ex, facilisis luctus tortor a, finibus varius augue. Nam eu molestie nunc, a efficitur nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non gravida dolor. Duis tempor venenatis ante, quis sodales orci mattis nec. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Maecenas eget augue vel risus mollis vehicula id sollicitudin eros. Donec sit amet risus sollicitudin, imperdiet elit eu, consectetur enim. Etiam accumsan viverra elit nec vehicula.

        Nullam sodales justo arcu, et pellentesque neque dictum sed. Nullam purus magna, porta non eleifend ac, malesuada at diam. Curabitur non rutrum est, sed suscipit nibh. Nullam odio eros, auctor sed ligula ac, varius finibus sem. Aliquam et facilisis libero. Sed eget commodo dolor. Pellentesque vitae est cursus, fermentum arcu nec, placerat risus.

        Aliquam erat volutpat. Cras metus magna, scelerisque vitae turpis ut, consequat egestas mauris. Nulla facilisi. Phasellus justo nisl, feugiat accumsan libero non, scelerisque ultricies velit. Duis vel malesuada massa, quis pretium diam. Quisque accumsan, velit nec fringilla rutrum, libero augue convallis urna, at pulvinar turpis ex in velit. Cras nibh lorem, vehicula eu efficitur mattis, aliquet eget tellus. Aenean lacinia consequat augue vel placerat. Aenean scelerisque eleifend ultricies. Maecenas dignissim dapibus lacus, id bibendum nisi elementum ut. Pellentesque vestibulum sapien turpis, rhoncus mollis orci congue non. Phasellus elit nunc, vehicula id justo in, porta eleifend augue.
                </p>
            </div>
            <div class="col border border-dark m-2">

            </div>

     </div>

</body>
</html>